* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: rgb(177, 136, 82);
}

.btn {
    background-color: rgb(177, 136, 82);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main style */
header {
    background-color: #FFF8F3;
    background: url(../images/work.png), url() #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 500px, 950px;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid maroon; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid maroon;*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-end; */
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    background-color: rgb(177, 136, 82);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    width: 230px;
    cursor: pointer;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
    background-color: rgb(177, 136, 82);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

#banner .banner-content p {
    font-size: 18px;
    color: #181818;
    line-height: 30px;
    margin-bottom: 30px;
    background-color: rgb(177, 136, 82);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    width: 400px;
    cursor: pointer;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border: 10px solid rgb(177, 136, 82);
    border-radius: 20px;
}

#about .about-container h2 {
    background-color: rgb(177, 136, 82);
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 30px;
    width: 150px;
    margin: 0 auto 30px auto;
    text-align: center;
    display: block;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card {
    padding: 10px;
    margin: 10px;
    border: 8px solid rgb(177, 136, 82);
    max-width: 270px;
    border-radius: 10px;
    box-shadow: 15px 10px 20px rgb(0, 0, 0, 0.3);

}

.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}


.about-info .info-card h4 {
    font-size: 20px;
}

#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container h2 {
    background-color: rgb(177, 136, 82);
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 30px;
    width: 250px;
    margin: 0 auto 30px auto;
    text-align: center;
    display: block;
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    border: 10px solid rgb(177, 136, 82);
    max-width: 267px;
    border-radius: 10px;
    box-shadow: 15px 10px 20px rgb(0, 0, 0, 0.3);
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 18px;
    color: #757575;
    line-height: 28px;
}

#resume .section-heading h2 {
    background-color: rgb(177, 136, 82);
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 30px;
    width: 500px;
    margin: 0 auto 30px auto;
    text-align: center;
    display: block;
    box-shadow: 15px 10px 20px rgb(0, 0, 0, 0.3);
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title {
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
    border: 10px solid rgb(177, 136, 82);
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 15px 10px 20px rgb(0, 0, 0, 0.3);
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}